* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

body {
  height: 100vh;
}
